<table class="table">

  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Pickup</th>
      <th scope="col">Dropoff</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @host_bookings.each do |booking|  %>
      <tr>
        <th scope="row"><%= link_to @cars.find(booking.car_id).title, car_path(@cars.find(booking.car_id))%></th>
        <td><%= booking.pickup_date %></td>
        <td><%= booking.dropoff_date %></td>
        <td><%= booking.status %></td>
        <td>
          <% if booking.status == "requested" %>
            <%= link_to "Confirm", confirm_booking_path(booking) %> <%= link_to "Decline", decline_booking_path(booking)%>
          <% elsif booking.status == "confirmed" %>
            <%= link_to "Cancel", cancel_booking_path(booking)%>
          <% elsif booking.status == "declined" %>

          <% elsif booking.status == "cancelled" %>

          <% else %>
            Error
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
