<!DOCTYPE html>
<html>
  <head>
    <title>GetAWagon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

    <div class="container">

      <div class="search-field">
        <h2><%= @cars.length %> results in your area</h2>
        <%= render "shared/searchForm" %>
      </div>

      <div class="cards">
      <% @cars.each do |car| %>
        <%= link_to car_path(car), :action => 'go', style: 'color:black; text-decoration:none' do %><%= render "card_car", car: car %><% end %>
      <% end %>
      </div>

    </div>
  </body>
</html>
