<div class="heading">
  <h1>Welcome, <%= current_user.first_name.capitalize %>!</h1>
  <%= link_to "Add new car listing", new_car_path, class: "btn btn-success mx-2" %>
</div>

<% if current_user.cars.length == 0 %>
<div id="no-listings-message" class="">You don't have any cars listed yet. Add a new listing!</p>
</div>
<% else %>

  <div class="host_container">


  <div class="cards-booking-host">
    <h1>Your upcoming reservations</h1>
    <% @host_bookings.each do |booking| %>
      <div class="card-booking">
        <div class="card-booking-status px-3 py-2">
          <div class="booking-status">
            <% if booking.status == "requested" %>
                <button type="button" class="btn btn-outline-primary w-100">Requested</button><br>
              <% elsif booking.status == "confirmed" %>
                <button type="button" class="btn btn-outline-success w-100">Confirmed</button><br>
              <% elsif booking.status == "declined" %>
                <button type="button" class="btn btn-outline-danger w-100">Declined</button><br>
              <% elsif booking.status == "cancelled" %>
                <button type="button" class="btn btn-outline-danger w-100">Cancelled</button><br>
              <% else %>
                Status
              <% end %>
          </div>
          <div class="booking-action">
            <% if booking.status == "requested" %>
              <%= link_to "Confirm", confirm_booking_path(booking), class: "btn btn-outline-success mx-2" %>
              <%= link_to "Decline", decline_booking_path(booking), class: "btn btn-outline-danger mx-2"%>
            <% elsif booking.status == "confirmed" %>
              <%= link_to "Cancel", cancel_booking_path(booking), class: "btn btn-outline-danger mx-2"%>
            <% end %>
          </div>
        </div>


        <div class="card-booking-details px-3 pb-2">
          <div class="booking-item">
            <span class="booking-title">Your listing</span>
            <h2><%= Car.find(booking.car_id).make%> | <%= Car.find(booking.car_id).model%></h2>
            <p> <%= booking.pickup_date %> - <br> <%= booking.dropoff_date%></p>
          </div>
          <div class="booking-customer">
            <div class="booking-customer">
              <div class="booking-customer-details">
                <span class="booking-title">Your customer</span>
                <h2><%= User.find(booking.user_id).last_name.capitalize %>, <%= User.find(booking.user_id).first_name.capitalize %> (★ <%= User.find(booking.user_id).rating %>)</h2>
                <p>Address: <%= User.find(booking.user_id).address %><br>
                Age: <%= User.find(booking.user_id).age %><br></p>
              </div>
            </div>
            <div class="container-img">
              <%= cl_image_tag User.find(booking.user_id).photo.key, class: "avatar-bordered-large" %>
            </div>
          </div>
        </div>

      </div>
    <% end %>
  </div>

  <div class="cards-listings-host">
    <h1>Your active listings</h1>
    <div class="cards-listings">
    <% @host_cars.each do |car| %>
      <div class="card-listing">
        <div class="card-listing-info">
          <i class="fa-solid fa-car"></i> <%= car.make %> | <%= car.model %><br>
        </div>
        <div class="card-listing-actions">
          <%= link_to "Edit", edit_car_path(car), class: "btn btn-sm btn-outline-secondary" %>
          <%= link_to "Delete", car_path(car), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-sm btn-outline-warning" %>
        </div>
      </div>

      <% end %>
    </div>

  </div>

<% end %>
