<div class="showpage-container">

  <div class="page-heading my-3">
    <h1><%= @car.title %></h1>
    <p> ★ 4.89 | 19 reviews | <%= @car.location %></p>
  </div>

  <div class="carousel slide" id="carouselExampleIndicators">

    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <%# Write an each loop over the @car.photos %>
    <div class="carousel-inner">
      <% @car.photos.first(3).each_with_index do |photo, index| %>
        <% if index == 0 %>
          <div class="carousel-item active">
            <%= cl_image_tag photo.key %>
          </div>
        <% else %>
          <div class="carousel-item">
            <%= cl_image_tag photo.key %>
          </div>
        <% end %>
      <% end %>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="page-infos my-3">
    <div class="container-left mx-1">

      <div class="host-info my-4 py-3">
        <div class="host-info-text">
          <h1>Car hosted by Host</h1>
          <p>Hi, I am HOST and ....</p>
        </div>

        <div class="host-info-avatar">
          <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        </div>
      </div>

      <div class="car-info technical my-4">
        <h3>Specs</h3>
        <ul>
          <li>Make: <%= @car.make %> </li>
          <li>Model: <%= @car.model %></li>
          <li>Milage: <%= @car.mileage %></li>
        </ul>
        <br>
      </div>
      <div class="car-info description my-4">
        <h3>Description</h3>
        <p><%= @car.description %></p>
        <br>
      </div>
    </div>

    <div class="container-right mx-1">
      <div id="card-booking">
        <div class="card-booking-info border p-3">
          194€ night  ★ 4.89 | 19 reviews |
        </div>
        <div class="card-booking-selection border">
          Add dropdown
        </div>
        <div class="card-booking-button">
          Add button
        </div>
        <div class="card-booking-summary">
          Add booking summary
        </div>

      </div>

    </div>

  </div>


    t.string "availability"
    t.integer "price_per_day"
